* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Hubballi";
	color: #000000;
}

.btn {
	background-color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 70%);
	outline: none;
	cursor: pointer;
	padding: 0.5em 1em;
	border-radius: 0.3em;
}
.btn:hover,
.btn:focus {
	background-color: hsl(0, 0%, 80%);
	box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.full-screen-header {
	height: 10vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #14213d;
	padding: 0.5rem 1rem;
}
.nav-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.logo {
	width: 150px;
}

.nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}

.nav-list a {
	text-decoration: none;
	margin-left: 1rem;
	color: white;
}

.nav-list a:hover {
	color: #ccc;
}

.sub-nav {
	background-color: #fca311;
	padding: 1.5rem;
	padding-bottom: 0;
	width: 100vw;
	margin-top: 100px;
}
.header-topics {
	display: flex;
	list-style-type: none;
	/* justify-content: space-between; */
	align-items: center;
}
.header-topics li {
	color: white;
	background-color: #14213d;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 1000px;
	font-weight: bold;
}
.header-topics li a {
	text-decoration: none;
	color: white;
}

.footer {
	align-items: center;
	text-align: center;
	background-color: #14213d;
	padding: 0.5rem 1rem;
	color: white;
	height: 50px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
}

.ft-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

main {
	padding: 1rem;
	margin: 5rem 1rem;
	border: 1px solid #e5e5e5;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
}

.card {
	height: 220px;
	width: 300px;
	max-width: 100%;
	margin: 1rem;
	background-color: white;
	border: 1px solid #fca311;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	display: inline-block;
	box-shadow: 0 0 5px 0 #777;
}

.card h3 {
	color: #000000;
	height: 30%;
	width: 100%;
	padding: 0.5rem;
	margin: 0px;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	background: linear-gradient(to right, white, #fca311);
}

.card-footer {
	padding: 0.5rem;
	margin-top: 0px;
	margin-bottom: 0px;
	justify-content: center;
	color: #495057;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 5px;
	row-gap: 5px;
}

.footer-item {
	list-style-type: none;
	align-items: center;
	border: 1px solid #e5e5e5;
	border-radius: 10000px;
	text-align: center;
	padding: 0.5rem;
	display: inline-block;
}

.footer-item a {
	text-decoration: none;
	color: #495057;
}

span {
	font-weight: bold;
}
.read-more {
	text-decoration: none;
	background: #14213d;
	text-align: center;
	padding-top: 0.5em;
	font-weight: bold;
}

.footer-item.read-more a {
	color: white;
}

.topic-banner {
	background-color: #fca311;
	padding: 1.5rem;
	width: 100%;
	margin: 0px;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}
.topic-banner.football {
	background-image: url("https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg");
	/* background-repeat: no-repeat; */
	background-size: 668px 78px;
	color: white;
}
.topic-banner.coding {
	background-image: url("https://i1.wp.com/www.burning-glass.com/wp-content/uploads/coding_400x267-1.jpg?fit=400%2C267&ssl=1");
	/* background-repeat: no-repeat; */
	background-size: 668px 78px;
	color: white;
}

.topic-banner.cooking {
	background-image: url("https://www.gffoodservice.com.au/content/uploads/2019/08/culinary_terms-hero-1-@2x-1.jpg");
	background-size: 668px 78px;
	color: #fca311;
}
.article-content {
	width: 100%;
	text-align: center;
}

.article-content li {
	text-align: center;
	list-style-type: none;
}

main h5 {
	margin: 0px;
}

.article-info {
	color: #003049;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 3px 0 #14213d;
	padding: 0.5rem 0.5rem;
}

.btn.vote {
	color: white;
	font-weight: bold;
	border-radius: 10000px;
}
.decrement {
	background-color: #fca311;
}
.increment {
	background-color: #14213d;
}
.vote.btn:hover,
.btn:focus {
	background-color: hsl(0, 65%, 45%);
	box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}
hr {
	border-top: 1px dashed #fca311;
	/* box-shadow: 0 0 3px 0 #fca311; */
}

.add-comment-form {
	width: 100%;
	display: flex;
	/* display: inline-block; */
	justify-content: center;
	align-items: center;
}

.add-comment {
	width: 50vw;
	margin: 0.25rem;
	padding: 0.5em;
	font-size: inherit;
	border: 1px solid #aaa;
	resize: none;
	outline: none;
}
.add-comment:focus {
	border-color: #fca311;
}

.btn {
	margin: 0;
	padding: 0.5em;
	display: inline-block;
}
