* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #000000;
	background-color: #edf6f9;
}

.btn {
	background-color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 70%);
	outline: none;
	cursor: pointer;
	padding: 0.5em 1em;
	border-radius: 0.3em;
}
.btn:hover,
.btn:focus {
	background-color: hsl(0, 0%, 80%);
	box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.full-screen-header {
	/* height: 10vh; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-bottom: 3px solid black;
	padding: 0.5rem 1rem;
}
.nav-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.logo {
	width: 150px;
}

.nav-list {
	margin: 5px;
	padding: 0;
	display: flex;
	list-style-type: none;
	color: #000000;
}
.nav-list {
	margin-right: 5px;
}

.nav-list a {
	text-decoration: none;
	margin-left: 1rem;
	color: black;
}

.nav-list a:hover {
	color: #ccc;
}

.sub-nav {
	background-color: #00af9f;
	padding: 0;
	width: 100%;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-topics {
	display: flex;
	list-style-type: none;
	/* justify-content: space-between; */
	align-items: center;
	margin-left: 29px;
}
.header-topics li {
	color: black;
	background-color: #edf6f9;
	margin: 0.25em;
	padding: 6px 15px;
	border-radius: 3px;
	font-weight: 600;
	font-size: smaller;
}
ul {
	padding: 0px;
}
.header-topics li a {
	text-decoration: none;
	color: black;
}

.sort_by {
}
select {
	margin-right: 35px;
	border: none;
	border-radius: 2px;
	color: black;
	background-color: #edf6f9;
	/* margin: 0.25em; */
	padding: 6px 15px;
	border-radius: 3px;
	font-weight: 600;
	font-size: smaller;
}

.footer {
	align-items: center;
	text-align: center;
	background-color: #14213d;
	padding: 0.5rem 1rem;
	color: white;
	height: 50px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
}

.ft-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

main {
	padding: 1rem;
	margin: 1rem 1rem;
	/* border: 1px solid #e5e5e5; */
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
}

.articles_container {
	width: 100%;
}

.articles_container ul {
	width: 100%;
}

.articles_container ul {
	width: 100%;
	padding: 0px;
}

.card {
	width: 100%;
	margin-bottom: 1.5rem;
	background-color: #edf6f9;
	border: 1px solid #e29578;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	display: inline-block;
	box-shadow: 0 0 5px 0 #c9c9c9;
}
.card_details {
	padding: 3px 10px;
	justify-content: end;
	background-color: #ffddd2;
}
.card_details span {
	padding: 4px 15px 4px 4px;
	display: inline-block;
}

.card_head {
	color: #006d77;
	height: 30%;
	width: 100%;
	padding: 12px;
	margin: 0px;
	display: inline-block;
	justify-content: left;
	align-items: center;
	text-align: left;
	cursor: pointer;
}
.card_head h3 {
	padding: 3px 0px;
	margin: 0;
}
.card_head h5 a {
	text-decoration: none;
	color: #006d77;
}
.card_readmore {
	color: #006d77;
	padding-top: 2px;
	float: right;
}

.card_readmore a {
	text-decoration: none;
	color: white;
}

/* span {
	font-weight: bold;
} */

.topic-banner {
	width: 100%;
	margin: 0px;
	text-align: left;
	font-size: x-large;
	font-weight: 900;
	color: black;
}

.article-content {
	width: 100%;
	text-align: center;
}
.article-content {
	padding: 0;
}

.article-content li {
	text-align: center;
	list-style-type: none;
}

main h5 {
	margin: 0px;
}

.article-info {
	color: #006d77;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 3px 0 #14213d;
	padding: 0.5rem 0.5rem;
}

.btn.vote {
	color: white;
	font-weight: bold;
	border-radius: 10000px;
	margin-left: 3px;
}
.decrement {
	background-color: #fca311;
}
.increment {
	background-color: #00af9f;
}
.vote.btn:hover,
.btn:focus {
	background-color: #e29578;
	box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}
hr {
	border-top: 1px dashed #fca311;
	/* box-shadow: 0 0 3px 0 #fca311; */
}

.add-comment-container {
	width: 100%;
	padding: 10px 0px;
	/* display: inline-block; */
	/* justify-content: center; */
	align-items: center;
}
.comment-label {
	width: 100%;
}

.comment-box {
	display: flex;
}
.add-comment {
	width: 100%;
	padding: 0.5em;
	font-size: inherit;
	border: 1px solid #aaa;
	resize: none;
	outline: none;
	height: 50px;
	border-radius: 2px;
}
.add-comment:focus {
	border-color: #fca311;
}
.comment-delete {
	float: right;
	margin-top: -22px;
	background: #b37c7027;
	width: 20px;
	height: 20px;
	padding-top: 2px;
	text-align: center;
	text-decoration: none;
	font-weight: 900;
	color: #8e250d69;
	cursor: pointer;
}
.btn {
	margin: 0;
	padding: 0.5em;
	display: inline-block;
}
.submit-comment {
	height: 50px;
	border-radius: 2px;
	border-left: none;
}

.comments-header {
	background: #ededed;
	font-weight: bold;
	background-color: #ffddd2;
	width: 100%;
	margin-top: 10px;
	padding: 5px 10px;
}
.comments-container {
	padding: 1rem;
	border: 1px solid #e5e5e5;
	/* margin-bottom: 60px; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.comment-card {
	padding: 10px;
	list-style-type: none;
	margin-bottom: 15px;
	background-color: #b07e730f;
}

.comment-card hr {
	border-top: 1px dashed #a0732553;
}

.comment-likes {
	float: right;
}
/* Registered users drop down menu */
.dropbtn {
	list-style-type: none;
	font-size: small;
	font-weight: bold;
	border: none;
	cursor: pointer;
	color: black;
}

.users {
	color: #000000;
	width: 100%;
	padding: 3px;
	border-bottom: 1px solid #ffddd2;
	list-style-type: none;
	cursor: pointer;
}
.dropdown {
	position: relative;

	display: inline-block;
}

.dropdown-sortBy {
	position: relative;
	display: inline-block;
	margin-left: 35px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #edf6f9;
	border: 1px solid #e29578;
	padding: 5px;
	min-width: 100px;
	border-radius: 3px;
	/* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
	z-index: 1;
	float: inline-end;
}

.dropdown-content a {
	color: black;
	padding: 0.25rem;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.dropdown-content a:hover {
	/* background-color: #f1f1f1; */
}

.dropdown:hover .dropdown-content {
	display: block;
}

.error {
	padding: 20px;
	background-color: #f44336;
	color: white;
	text-align: center;
	width: 100%;
}

.success {
	padding: 20px;
	background-color: #90be6d;
	color: white;
	text-align: center;
	width: 100%;
}

/* Popup style */
.popup-box {
	position: fixed;
	background: #00000050;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.box {
	position: relative;
	width: 70%;
	margin: 0 auto;
	height: auto;
	max-height: 70vh;
	margin-top: calc(100vh - 85vh - 20px);
	background: #fff;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
}

.close-icon {
	content: "x";
	cursor: pointer;
	position: fixed;
	right: calc(15% - 30px);
	top: calc(100vh - 85vh - 33px);
	background: #ededed;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	font-size: 20px;
}
